<table id="items" class="pretty">
  <thead>
    <tr>
      <th>ID</th>
      <th>Description</th>
      <th>Type</th>
      <th>Creator</th>
      <th>Suggested Price</th>
      <th>Sale Price</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>ID</td>
      <td>Description</td>
      <td>Type</td>
      <td>Creator</td>
      <td>Suggested Price</td>
      <td>Sale Price</td>
    </tr>
  </tbody>
</table>
