<ul>
  <li>
    <dt>Item</dt>
    <dd>Quantity: 10 Suggested Price: $5</dd>
    <dd>Description</dd>
    <ul>
      <li>item instance - Sale Price: $3</li>
      <li>item instance</li>
      <li>item instance</li>
      <li>item instance</li>
      <li>item instance</li>
    </ul>
  </li>
</ul>
