<!doctype html>
<html>
  <head>
    <title>Fies Store</title>
    <%= stylesheet_link_tag 'style' %>
    <%= javascript_include_tag 'jquery', 'jquery.dataTables', 'modernizr', 'application' %>
    <%= yield_content :include %>
  </head>
  <body>
    <div id="container">
      <div id="header">
        <h1>The Fies Store!</h1>
      </div>
      <div id="content">
        <!-- This div is for debugging. -->
        <div id="test">
          <ul>
            <li>Do we support in-browser key/value storage? <span id="storage-test">No</span>.</li>
            <li>Do we support in-browser indexedDB storage? <span id="db-test">No</span>.</li>
          </ul>
        </div>

        <%= yield %>
      </div>
    </div>
  </body>
</html>
